.dashboardContainer {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    user-select: none;
}

.dashboardBody {
    flex-basis: 94%;
    display: flex;
}

.menu {
    flex-basis: 20%;
    background-color: silver;   
    display: flex;
    flex-direction: column; 
}

app-menu {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.content {
    flex-basis: 80%;
}